<div class="container">

<footer class="footer">

<small>

Copyright © <a href="www.Mnn.com.pk">Muna news network</a>

by <a href="mfarooqsaleh@gmail.com">Muhammad farooq</a>

</small>

<nav>

<ul>

<li><%= link_to "About", about_path %></li>

</ul>

</nav>

</footer>

</div>

 
