<div class="container">
	<footer class="footer">
		<small>
			copyright $copy: <a href="www.MNN.com"> Muna news network</a>
			by <a href="">Muhammad Farooq</a>
		</small>
		<nav>
			<ul>
				<li> <%=link_to "about",about_path  %></li>
			</ul>	
		</nav>
	</footer>
</div>